@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <img src="~/assets/img/Fees.png" alt="Student Fees Image" class="img-fluid mb-3" width="300" asp-append-version=true>
    <h5 class="display-4">Student Fees Management System</h5>
</div>
